body
{
    background-size: cover;
}

.heading
{
    width : 100%;
text-align: left;
}

.heading h3
{
display: inline;
}

.heading button
{
float: right;
border: 1px solid whitesmoke;
}


#start , #status
{
    font-size: 22px;
}

.copy_right_footer
{
    position: fixed;
    color: pink;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
    line-height: 2;
    text-align: center;
}